<div class="container mt-3">
    <h2>Detail Contact page</h2>
    <div class="row">
      <div class="col-sm-12">
        <% if (!contact) { %>
          <div class="alert alert-danger" role="alert">
            Data contact not found. <br/><< <a href="/contact">Back to list</a>
          </div>
        <% } else { %>
        <div class="card" style="width: 18rem;">
          <!-- <img class="card-img-top" alt="Choirul"> -->
          <div class="card-body">
            <h5 class="card-title"><%= contact.nama %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= contact.hp %></h5>
            <p class="card-text">
              <%= contact.email %>
            </p>            
            <a href="/contact/update/<%= contact.nama %>" class="btn btn-warning ">Update</a>
            <a href="/contact/delete/<%= contact.nama %>" class="btn btn-danger" onclick="return confirm('yakin?');">Delete</a>
            <a href="/contact" class="d-block mt-2"><< Back to list</a>
          </div>
        </div>
        <% } %>
      </div>
    </div>
</div>