<% include _layout/header %>

<% if (typeof cart !== "undefined") { %>
<h1 class="page-title">My Cart</h1>
<br/><br/>
<table class="table table-striped alignmiddle">
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th>Subtotal</th>        
    </tr>
    
    <% var total=0; %>
    <% cart.forEach(function(product) { %>
    <% var sub = (product.qty * product.price) %>
    <% total += +sub; %>
    <tr>
        <td><img class="cpi" src="<%= product.image %>" alt=""></td>
        <td><%= product.title %></td>
        <td><%= parseFloat(product.price).toLocaleString(process.env.LOCALE) %></td>
        <td class="text-right"><%= product.qty %></td>
        <td>
            <a href="/cart/update/<%= product.title %>?action=add">+</a>&nbsp;
            <a href="/cart/update/<%= product.title %>?action=remove">-</a>&nbsp;
            <a href="/cart/update/<%= product.title %>?action=clear">clear</a>&nbsp;
        </td>
        <td><%= sub.toLocaleString(process.env.LOCALE) %></td>        
    </tr>
    <% }); %>
    <tr><td colspan="6" class="text-right"><strong>Total: <%= process.env.CURRENCY %> <%= total.toLocaleString(process.env.LOCALE) %></strong></td></tr>
    <tr>
        <td colspan="6" class="text-right">
            <a class="clearcart btn btn-danger" href="/cart/clear">Clear cart</a>
            <a class="btn btn-success buynow" href="#">Buy now</a>
        </td>        
    </tr>
</table>

<!--<input type="hidden" name="cmd" value="_ext-enter">
<input type="hidden" name="redirect_cmd" value="_xclick">-->
<form class="pp" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
   <input type="hidden" name="cmd" value="_cart">
   <input type="hidden" name="business" value="<%= process.env.PAYPAL %>">
   <% var num = 0; %>
   <% cart.forEach(function(p){ %>
   
   <input type="hidden" name="item_name_<%= num %>" value="<%= p.title %>">
   <input type="hidden" name="amount_<%= num %>" value="<%= p.price %>">
   <input type="hidden" name="quantity_<%= num %>" value="<%= p.qty %>">
   
   <% }); %>
   
   <input type="hidden" name="currency_code" value="USD">
   <input type="hidden" name="amount" value="<%= total %>">
   <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
</form>

<% } else { %>
<h3 class="text-center">Your cart is empty</h3>
<% } %>

<script>
    $(function(){
        $('a.clearcart').on('click', function(){
           if(!confirm('Confirm clear cart')) return false;           
        });
        
        $('a.buynow').on('click', function(e){
            e.preventDefault();
            $.get('/cart/buynow', function(){
               $('form.pp input[type=image]').click();
               $('.ajaxbg').show();
            });  
        });
    });
</script>


<% include _layout/footer %>